.logedPage { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    padding-top: 20px;
    height: 100vh;
    width: 100%;
    background-color: var(--background);
    color: var(--text-primary);
}

.logedPage_button {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.logedPage_button button {
    margin: 5px;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    background-color: var(--background-button);
    width: 95%;
    border: none;
    color: var(--text-primary);

}


.logedPage_button button:hover {
    background-color: var(--background-hover);
}

.logedPage_listUsers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
}

.logedPage_listUsers table, tr, td {
    border: var(--border);
    background-color: var(--background-input);
}

