.userManage { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    padding-top: 20px;
    height: 80vh;
    width: 97.7vw;
    background-color: var(--background);
    color: var(--text-primary);
}

*[name='icon'] {
    cursor: pointer;
}

.userManage_button {
    display: flex;
    flex-direction: row;
    width: 90%;
}

select[name='SelectItensPerPage'] {
    background-color: var(--background-input);
    color: var(--text-primary);
    font-family: var(--font-family);
    height: 80%;
    margin: 2px 10px 0px 0px;
    border-radius: 5px;
    text-align: center;
}

button[name='addUser'] {
    background-color: transparent;
    color: var(--text-primary);
    margin: 0px 10px 0px 0px;
    border: none;
}

button[name='refresh'] {
    background-color: transparent;
    color: var(--text-primary);
    margin: 0px 10px 0px 0px;
    border: none;

}

.userManage_button button {
    margin: 5px;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    background-color: var(--background-button);
    width: 95%;
    border: none;
    color: var(--text-primary);

}

.userManage_button button:hover {
    background-color: var(--background-hover);
}

.userManage_listUsers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
}

.userManage_listUsers table {
    border-collapse: collapse;
    text-align: center;
    width: 90%;
}

.userManage_listUsers tr {
    border-bottom: 0.1px solid var(--background-input);
    height: 35px;
}

.userManage_listUsers tr:nth-child(even) {
    background-color: var(--background-input);
}

.userManage_listUsers th {
    background-color: #123456;
    color: #eeeeee;
    padding: 5px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 10px 20px 10px 10px;
    padding: 0;
}
   
.pagination a {
    cursor: default;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    border: 1px solid var(--border);
    color: var(--text-primary);
    margin-left: 10px;
}
   
.pagination li:not(.disabled) a:hover {
    background-color: var(--background-input);
    opacity: 0.6;
    cursor: pointer;
}
   
.pagination li a {
    font-weight: bold;
    font-size: 12px;
}
   
.pagination li.active a {
    color: var(--text-primary);
    background: var(--background-button);
}
   
.pagination li.disabled a {
    pointer-events: none;
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
}

.modalMsg {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width: 95%;
}

.modalMsg p {
    font-size: 22px;
    font-family: var(--font-family);
    color: var(--text-primary);
    text-align: center;
}

.modalMsg button[name='confirmar'] {
    margin-top:10px;
    height:30px;
    width:80px;
    border-radius:5px;
    background-color:red;
    color:#ddd;
    border:none;
    font-weight:bold;
    cursor: pointer;
}

.modalMsg button[name= 'confirmar']:hover {
    background-color:#A52A2A;
}

.modalMsg button[name='cancelar'] {
    margin-top:10px;
    height:30px;
    width:80px;
    border-radius:5px;
    background-color:#1b5085;
    color:#ddd;
    border:none;
    font-weight:bold;
    cursor: pointer;
}

.modalMsg button[name= 'cancelar']:hover {
    background-color:#123456;
}