.modal {
    display: flex;
    position: absolute;
    height: 80vh;
    width: 97.7vw;
    background-color: var(--form-bg);
    justify-content: center;
    align-items: center;
    opacity: 0.6;
}

.modal_box {
    display: flex;
    position: absolute;
    height: 35vh;
    width: 30vw;
    align-items: center;
    justify-content: center;
    background-color: var(--form-bg);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px var(--border);
}